* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body {
    background-image: url("./assets/Fundo.jpg");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 120px;
    margin: auto;
}

header img {
    width: 100%;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding: 4px;
    transition: transform .3s;

}

header img:hover{
    transform: scale(1.1);
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 10px;
    padding-top: 4px;

}

section div {
    background-color: #2A2634;
    border-radius: 8px;
    padding: 32px;
    padding-top: 24px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section li {
    transition: transform .3s;
}

section li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channels-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
}

/* animations */


header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromLeft .7s backwards;
}

main section:nth-child(1) {
    animation-delay: .6s;
}

main section:nth-child(2) {
    animation-delay: .8s;
}

main section:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}